doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(href='/') Index
        |
        |
        a(href='/load') Load
        block content
